thead {
    background-color: lightgrey;
}

#main-div {
    width: 98%;
    padding-top: 10px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#filter-form {
    margin-bottom: 70px;
}

#filter-select {
    width: 30%;
    float: left;
}

#reset-input {
    float: left;
    margin-left: 6px;
}